{% extends "layouts/base.html" %}
{% block title %}
  レビューを作成
{% endblock title %}
{% block contents %}
  <div class="row">
    <div class="offset-3 col-6">
      <h1 class="mb-3">レビュー</h1>
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <input type="hidden" name="campground" value="{{ campground.id }}" />
        <input type="hidden" name="reviewer" value="{{ user.id }}" />
        <div>
          <fieldset class="starability-basic">
            <input type="radio" id="first-rate1" name="rating" value="1" checked />
            <label for="first-rate1" title="1">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="2good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="3">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="4">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="5">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3">
          <label class="form-label" for="comment">コメント</label>
          <textarea class="form-control"
                    name="comment"
                    id="comment"
                    cols="30"
                    rows="3"
                    required></textarea>
          <div class="valid-feedback">OK!</div>
        </div>
        <button class="btn btn-success">投稿する</button>
      </form>
      <a href="{% url 'campgrounds:detail' campground.id %}">詳細に戻る</a>
    </div>
  </div>
{% endblock contents %}
