{% extends "layouts/base.html" %}
{% block title %}
  キャンプ場詳細
{% endblock title %}
{% block contents %}
  <div class="row">
    {% if reviews %}
      <div class="col-6">
      {% else %}
        <div class="offset-2 col-8">
        {% endif %}
        <div class="card mb-3">
          <img src="{{ campground.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ campground.title }}</h5>
            <p class="card-text">{{ campground.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">{{ campground.location }}</li>
            <li class="list-group-item">登録者：{{ author.username }}</li>
            <li class="list-group-item">&yen; {{ campground.price }} / 泊</li>
          </ul>
          <div class="card-body">
            {% if user.username == author.username %}
              <a class="btn btn-info"
                 href="{% url 'campgrounds:edit' campground.id %}">編集する</a>
              <a class="btn btn-danger"
                 href="{% url 'campgrounds:delete' campground.id %}">削除する</a>
            {% endif %}
            <a class="btn btn-success"
               href="{% url 'campgrounds:create_review' campground.id %}">レビューを作成</a>
          </div>
        </div>
      </div>
      {% if reviews %}
        <div class="col-6">
          <h3 class="mb-3">レビュー</h3>
          {% for review in reviews %}
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-subtitle mb-2">{{ review.reviewer.username }}</h5>
                <p class="card-title starability-result"
                   data-rating="{{ review.rating }}">Rated: {{ review.rating }} stars</p>
                <p class="card-text">コメント : {{ review.comment }}</p>
                {% if user.id == review.reviewer_id %}
                  <form action="{% url 'campgrounds:delete_review' id=campground.id review_id=review.id %}"
                        method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger">削除する</button>
                  </form>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock contents %}
