{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
  キャンプ場一覧
{% endblock title %}
{% block contents %}
  <div id='map' class="mb-3" style='width: 100%; height: 500px;'></div>
  <h1>キャンプ場一覧</h1>
  {% for campground in campgrounds %}
    <div class="card mb-3">
      <div class="row">
        <div class="col-lg-4">
          <img src="{{ campground.image1.url }}" alt="" class="w-100 h-100" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ campground.title }}</h5>
            <p class="card-text">{{ campground.description|truncatechars:80 }}</p>
            <p class="card-text">
              <small class="text-muted">{{ campground.location }}</small>
            </p>
            <a class="btn btn-primary"
               href="{% url 'campgrounds:detail' campground.id %}">{{ campground.title }}の詳細</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock contents %}
{% block scripts %}
  <script>
  const mapboxToken = "{{ mapbox_token }}";
  const campgroundsJson = {{ campgrounds_json|safe }};
  </script>
  <script src="{% static 'js/clusterMap.js' %}"></script>
{% endblock scripts %}
