{% extends "base.html" %}

<!-- Avoid Prettier -->
{% block title %}キャンプ場の新規登録{% endblock title %}

<!-- Avoid Prettier -->
{% block contents %}
<div class="row">
  <h1 class="text-center">キャンプ場の新規登録</h1>
  <div class="offset-3 col-6">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label" for="title">タイトル</label>
        <input class="form-control" type="text" name="title" id="title" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">場所</label>
        <input class="form-control" type="text" name="location" id="location" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">画像URL</label>
        <input class="form-control" type="text" name="image" id="image" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">価格</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">&yen;</span>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="0"
            aria-label="価格"
            aria-describedby="price-label"
            name="price" />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">説明</label>
        <textarea class="form-control" name="description" id="description"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">登録する</button>
      </div>
    </form>
    <a href="{% url 'campgrounds:list' %}">一覧に戻る</a>
  </div>
</div>
{% endblock contents %}
