{% extends "base.html" %}

<!-- Avoid Prettier -->
{% block title %}キャンプ場詳細{% endblock title %}

<!-- Avoid Prettier -->
{% block contents %}
<h1>{{ campground.title }}</h1>
<h2>{{ campground.location }}</h2>
<p>{{ campground.price }}</p>
<img src="{{ campground.image }}" alt="" />
<p>{{ campground.description }}</p>

<p><a href="{% url 'campgrounds:edit' campground.id %}">編集する</a></p>
<p><a href="{% url 'campgrounds:delete' campground.id %}">削除する</a></p>
<footer>
  <a href="{% url 'campgrounds:list' %}">一覧に戻る</a>
</footer>
{% endblock contents %}
